<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/assets/css/FooterCSS.css" />
    <link rel="stylesheet" href="/assets/css/FooterCSS_Responsive.css" />
    <title>Footer</title>
  </head>
  <body>
    <div id="Footer">
      <div id="leftFooter">
        <div id="logoFooter">
          <img src="/assets/images/logoSgu.png" alt="LogoHome" onclick="redirectToNewPage()"/>
        </div>

        <div id="footerContent">
          <div id="content1">
            <p class="about"><a onclick="test1()">ABOUT</a></p>
          </div>
          <div id="content2">
            <p id="contact"><a onclick="test2()">CONTACT</a></p>
          </div>
        </div>
      </div>

      <div id="rightFooter">
        <div id="tag"><h2>FOLLOW ME</h2></div>
        <div id="iconContact">
          <ul id="content4">
            <li> <a href="https://www.facebook.com/Psawgg"><img src="/assets/images/icon_facebook.png" alt="" /></a></li>
            <li><a href="https://www.instagram.com/jisawndangec/"><img src="/assets/images/icon_instagram.png" alt="" /></a></li>
            <li><a href="https://www.youtube.com/@gypsyjourneys5123"><img src="/assets/images/icon_youtube.png" alt="" /></a></li>
          </ul>
          <ul id="content5">
            <li><a href="https://discord.gg/6gaPgcuc"><img src="/assets/images/icon_discord.png" alt="" /></a></li>
            <li><a href="https://www.tiktok.com/@pisawn"><img src="/assets/images/icon_tiktok.png" alt="" /></a></li>
            <li><a href="#"><img src="/assets/images/phoneCall.png" alt="" /></a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="copyrightFooter">
      <div id="content3"><h6>© 2024, PiSawn</h6></div>
    </div>
    <script src="/assets/js/FooterJS.js"></script>
    <script></script>
  </body>
</html>
