<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doc</title>
    <link rel="stylesheet" href="/assets/css/HeaderCSS.css">
    <link rel="stylesheet" href="/assets/css/HeaderCSS_Responsive.css">
</head>
<body>
    <!-- NAVIGATION BAR -->
    <div class="NavBar" id="idNavBar">

       

        <!-- Hamburger Menu -->
        <div class="item-container">
            <span class="openBtn">
                <div href="#" class="line" onclick="openNav()"></div>
                <div href="#" class="line" onclick="openNav()"></div>
                <div href="#" class="line" onclick="openNav()"></div>
            </span>
    
            <!-- LIST ITEM -->
            <ul class="sideNav" id="idSideNav"> 
                <!-- Close Button -->
                <li class="closeBtn">
                    <div href="#" class="line" onclick="closeNav()"></div>
                    <div href="#" class="line" onclick="closeNav()"></div>
                    <div href="#" class="line" onclick="closeNav()"></div>
                </li>
                <!-- Main Menu -->
                <li><a onclick="test1()">About Me</a></li>
                <li><a onclick="test2()">Contact</a></li>
                
            </ul>
        </div>

    </div>
    <script src="/assets/js/headerJS.js"></script>
</body>
</html>